<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
{% include header.html %}

<h6>
    <a href="/realm/Factions/">
        <img src="http://musicfamily.org/realm/Factions/picks/{{ page.faction  }}TopPage.png" alt="Spellcraft"
            align="middle">
    </a>
</h6>

<p><b>In-game description</b></p>
{% for line in page.ingame_description %}
    <p>{{ line }}</p>
{% endfor %}

<p><b>Alignment</b>: {{ page.alignment }}</p>
{% for line in page.description %}
    <p>{{ line }}</p>
{% endfor %}
<br>

{% if page.unlock_requirements %}
    <p><b>Unlock Requirements</b>: {{ page.unlock_requirements }}</p>
{% else %}
    <p><b>Unlock Requirement</b>: None (all Vanilla Factions are enabled by default)</p>
{% endif %}
<br>

{% assign faction_spell = site.data.spells[page.faction_spell].spell %}
<p><b>Faction spell</b></p>
<p><b><img src="{{ faction_spell.image }}" align="middle"> {{ faction_spell.name }}</b></p>
<p><b>Cost</b>: {{ faction_spell.cost }} Mana - <b>Duration</b>: {{ faction_spell.duration }} </p>
<p><b>Effect</b>: {{ faction_spell.effect }}</p>
<br>

{% assign faction_spell_trophy = site.data.spells[page.faction_spell].trophy %}
<p><b>Spell Trophy & Upgrade</b></p>
<p><b><img src="{{ faction_spell_trophy.image }}" align="middle"> {{ faction_spell_trophy.name }}</b></p>
<p><b>Requirement</b>: {{ faction_spell_trophy.requirement }}</p>
<p><b>Cost</b>: {{ faction_spell_trophy.cost }}</p>
<p><b>Effect</b>: {{ faction_spell_trophy.effect }}</p>
{% if faction_spell_trophy.formula %}
    <p><b>Formula</b>: {{ faction_spell_trophy.formula }}</p>
{% endif %}

{% if page.notes %}
    <hr>
    {% for note in page.notes %}
        <p><b>Note</b>: {{ note }}</p>
    {% endfor %}
{% endif %}

{% for group in site.data.upgrades[page.faction] %}
    <hr>
    <p><b>{{ group[0] }}</b></p>
    {% if group[1]["text"] %}
        {{ group[1]["text"] }}
    {% endif %}


    {% for upgrade in group[1] %}
        {% comment %}
            not a fan of this hack but not sure what else to do:
            some groups have extra text, so just handle those cases specially 
        {% endcomment %}
        {% if upgrade.text %}
            {{ upgrade.text }}
        {% else %}
            <p><b><img src="{{ upgrade.image }}" align="middle"> {{ upgrade.name }}</b></p>
            {% if upgrade.description %}
                <p><b>Description</b>: {{ upgrade.description }}</p>
            {% endif %}

            {% if upgrade.requirements %}
                <p><b>Requirements</b>: {% for requirement in upgrade.requirements %}
                    <br>
                    - {{ requirement }}
                {% endfor %}</p>
            {% endif %}

            {% if upgrade.cost %}
                <p><b>Cost</b>: {{ upgrade.cost }}</p>
            {% endif %}

            {% for effect in upgrade.effect %}
                <p><b>Effect</b>: {{ effect }}</p>
            {% endfor %}

            {% if upgrade.formula %}
                <p><b>Formula</b>: {{ upgrade.formula }}</p>
            {% endif %}

            {% if upgrade.notes %}
                {% for note in upgrade.notes %}
                    <p><b>Note</b>: {{ note }}</p>
                {% endfor %}
            {% endif %}
        {% endif %}
        <br>
    {% endfor %}
{% endfor %}

{% include footer.html %}